<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title><%= htmlWebpackPlugin.options.title %> | Story App</title>
  </head>
  <body class="d-flex flex-column min-vh-100">
    <header>
      <nav-app brandName="<%= brandName %>" addButton></nav-app>
    </header>

    <main class="flex-grow-1">
      <div class="main-content">
        <div class="container py-5">
          <h1 class="mb-3"><%= htmlWebpackPlugin.options.title %></h1>
          <section id="stories" class="row row-cols-1 row-cols-sm-2 row-cols-md-4"></section>
        </div>
      </div>
    </main>

    <modal-story class="modal fade" id="recordDetailModal" tabindex="-1"></modal-story>

    <footer>
      <foot-app></foot-app>
    </footer>
  </body>
</html>
